/* en todas las propiedades de CSS voy a tener SHORT HAND */

*{
    box-sizing: border-box;
}

table {
    /* border-propiedades */
    border-collapse: collapse; 
    /* border-collapse traza las lineas normales de una tabla */
}

/* reuilizacion de reglas de estilo */
tr,th, table {
    border: 1px solid black;
}

td {
    padding: 10px;
    border: 1px solid black;
    color: blue;
    text-align:center;
}

/* cualquier etiqueta img que este anidada a un boton */
button>img {
    width: 20px;
    margin-right: 10px;
}

p {
    background-color: #f00;
}

/* para que el scroleado sea suave */
html {
    scroll-behavior: smooth;
}

/* selector por ID */
#tabla-materias {
    border-color: violet;
}

/* selector de clase */
.azul {
    color: green;
}

/*
    Para poner en negrita la fuente de un elemento se usa: font-weight
    Para aplicar una sombra al texto: box-shadow
*/